*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: #454545;
}

.container {
	margin: 0 260px;
}

.btn {
	font-weight: bold;
	text-decoration: none;
	color: black;
	transition: box-shadow 0.3s linear;
}

.btn > div {
	display: inline-block;
}

.btn span {
	font-size: 14px;
	color: #582c7e;
	margin-right: 6px;
}

.btn-round {
	font-size: 18px;
	color: white;
	padding: 8px 18px;
	border-radius: 24px;
	background: yellow;
}

.btn-full-round i {
	font-size: 22px;
	width: 1.6em;
	text-align: center;
	line-height: 1.6em;
	background: rgb(88,44,126);
	background: linear-gradient(135deg, rgba(88,44,126,1) 0%, rgba(98,120,206,1) 100%);
	color: #fff;
	border-radius: 0.8em; /* or 50% width & line-height */
}

.btn-purple {
	background: rgb(88,44,126);
	background: linear-gradient(135deg, rgba(88,44,126,1) 0%, rgba(98,120,206,1) 100%);
}

.btn-purple:hover, .btn-blue:hover {
	box-shadow: 0px 5px 10px 3px rgba(79,48,123,0.3), 0px 8px 10px 3px rgba(0,212,255,0.3);
}

.btn-blue {
	background: rgb(120,187,223);
	background: linear-gradient(135deg, rgba(120,187,223,1) 0%, rgba(103,122,230,1) 100%);
}

.btn-fix-support {
	padding: 16px 36px;
	border-radius: 36px;
}

/* Header */
.header-inner {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-size: 30px;
	font-weight: bold;
}

.header-logo span {
	color: #5b4295;
}

.header-nav {
	margin-left: auto;
}

.header-nav a {
	color: #474747;
	text-decoration: none;
	margin-right: 25px;
}

.header-nav a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.header-nav a:last-child {
	margin-right: 70px;
}

.header-buttons > a:first-child {
	margin-right: 20px;
}

.header-languages {
	margin-top: 10px;
	font-size: 14px;
}

.item-languages {
	cursor: pointer;
}

.item-languages-active {
	text-decoration: underline;
	font-weight: bold;
}

.item-languages:hover {
	text-decoration: underline;
	font-weight: bold;
}

.divider-languages {
	margin: 0 10px;
}

/* Intro */
.intro {
	margin-top: 150px;
	padding-bottom: 335px;
	text-align: center;
	background: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -300px;
	position: relative;
}

.intro h1, .intro h2 {
	font-weight: 600;
}

.intro h1 {
	font-size: 60px;
}

.intro h2 {
	font-size: 36px;
}

.intro h2 span {
	color: #fc2028;
}

.intro-buttons {
	margin-top: 60px;
}

.intro-buttons > a {	
	margin-right: 25px;
}

.intro-buttons > a:first-child {
	padding-left: 50px;
	padding-right: 50px;
}

.intro-buttons > a:last-child {
	margin-right: 0;
}

.intro-icon {
	position: absolute;
}

.intro-icon a {
	color: #474747;
}

.intro-icon:first-child {
	top: 35px;
	right: 95px;
}

.intro-icon:nth-child(2) {
	top: 65px;
	right: 95px;
}

.intro-icon:last-child {
	top: 95px;
	right: 95px;
}

/* Advantages */
.advantages {
	display: flex;
	justify-content: center;
	margin-bottom: 120px;
	position: relative;
}

.advantages-item {
	flex-basis: 19%;
}

.advantages-item:nth-child(2)
{
	margin: 0 80px;
}

.advantages-head {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.advantages-head > div:first-child {
	margin-right: 18px;
}

.advantages-item-head-text {
	font-size: 30px;
	font-weight: 400;
	color: #555;
	line-height: 0.8;
}

.advantages-item-head-subtext {
	font-size: 18px;
	color: #959393;
}

.advantages-item-text {
 	font-size: 14px;
 }

.horizontal-2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 15%;
	height: 1px;
	background: #bfbfbf;
}

.vertical-2 {
	position: absolute;
	right: 62%;
	top: -97px;
	width: 1px;
	height: 180px;
	background: #bfbfbf;
}

 /* Physical */
.physical {
	position: relative;
	margin-bottom: 40px;
}

.physical-text {
	text-align: right;
	margin-right: 42%;
	font-size: 24px;
	margin-bottom: 20px;
}

.physical-text h2 {
	font-weight: 400;
	font-size: 60px;
}


.physical-text span {
	color: #f65151;
}

.physical-button {
	margin-left: 53%;
	display: inline-block;
	padding: 12px 25px;
	border-radius: 24px;
	border: 1px solid #c9c9c9;
}

.horizontal-1 {
	position: absolute;
	left: 0;
	top: 208px;
	width: 53%;
	height: 1px;
	background: #bfbfbf;
}

.vertical-1 {
	position: absolute;
	left: 61%;
	top: -287px;
	width: 1px;
	height: 470px;
	background: #bfbfbf;
}

/* Sponsors-1 */
.sponsors-1 {
	margin-left: 100px;
}

/* Devices */
.devices {
	margin-top: 60px;
	padding-bottom: 200px;
	background: url("img/devices.png");
	background-repeat: no-repeat;
	background-position: 74% 5px;
	position: relative;
}

.devices-slider {
	position: relative;
	margin-left:  460px;
	margin-bottom: 90px;
}

.devices-slider-button {
	width: 11px;
	height: 11px;
	background: #b9b9b9;
	position: absolute;
	left: -25px;
	border-radius: 50%;
	cursor: pointer;
}

.devices-slider-button-active {
	left: -26px;
	width: 13px;
	height: 13px;
	background: #171717;
}

.devices-slider-button:first-child {
	top: 13px;
}

.devices-slider-button:nth-child(2) {
	top: 36px;
}

.devices-slider-button:last-child {
	top: 59px;
}

.devices-slider-text {
	font-size: 24px;
	width: 520px;
	color: #171717;
}

.devices-slider-text span {
	font-size: 16px;
	color: #727272;
}

.devices-info {
	text-align: center;
}

.devices-info h2 {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 10px;
	margin-left: 2%;
}

.devices-info p {
	text-align: right;
	margin-left: 36%;
	width: 450px;
	color: #939292;
}

.devices-buttons > img {
	border-radius: 8px;
}

.devices-buttons > img:first-child {
	margin-top: 32px;
	margin-right: 10px;
}

.horizontal-3 {
	position: absolute;
	right: 0;
	bottom: 41px;
	width: 76%;
	height: 1px;
	background: #bfbfbf;
	z-index: -1;
}

.fill {
	position: absolute;
	background: #f9f9f9;
	top: -30px;
	left: 0;
	background: linear-gradient(-7deg, #f9f9f9, #f9f9f9 30%, #f9f9f9 60%, #fff 60%); 
	width: 100%;
	height: 1000px;
	z-index: -2;
}

/* Privacy */
.privacy {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 80px;
	position: relative;
	background: #f9f9f9;
}

.privacy h2 {
	font-weight: 400;
	font-size: 36px;
	color: #535353;
}

.privacy h3 {
	font-weight: 400;
	font-size: 29px;
	color: #7c7c7c;
}

.privacy-buttons {
	margin-top: 30px;
}

.privacy-buttons i {
	margin-right: 8px;
}

.privacy-buttons a:first-child {
	margin-right: 20px;
}

.privacy-buttons a:last-child {
	margin-left: 20px;
}

.horizontal-4 {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 1406px;
	height: 1px;
	background: #bfbfbf;
}

/* Helps */
.helps {
	margin-left: 350px;
	text-align: center;
	background: #f9f9f9;
}

.helps p {
	margin-left: 650px;
	color: #7a7a7a;
	font-size: 14px;
}

/* Footer */
footer {
	padding-top: 150px;
	background: #f9f9f9;
	position: relative;
}

.contacts {
	display: flex;
	font-size: 14px;
	color: #5c5c5c;
}

.contacts-item span {
	font-weight: bold;
}

.contacts-item {
	text-align: right;
	margin-right: 100px;
}

.contacts-item:first-child {
	text-align: left;
	flex-basis: 40%;
	margin-right: 0;
}

.contacts-item:first-child a {
	color: #5c5c5c;
}

.contacts-item-head {
	font-weight: bold;
	font-size: 24px;
	line-height: 0.7;
	margin-bottom: 30px;
}

.contacts-item-text {
	font-size: 14px;
}

.contacts-item-text p {
	margin-right: 12px;
	position: relative;
}

.contacts-item-text a {
	color: inherit;
	text-decoration: none;
}

.contacts-item-text p:after {
	content: '';
	position: absolute;
	top: 10px;
	right: -15%;
	width: 5px;
	height: 5px;
	background: #5c5c5c;
}

.vertical-3 {
	position: absolute;
	left: 243px;
	top: 155px;
	width: 1px;
	height: 120px;
	background: #bfbfbf;
}

.vertical-4 {
	position: absolute;
	left: 955px;
	top: 155px;
	width: 1px;
	height: 280px;
	background: #bfbfbf;
}

.vertical-5 {
	position: absolute;
	left: 1405px;
	bottom: 163px;
	width: 1px;
	height: 440px;
	background: #bfbfbf;
}

/* Media */
.media {
	margin-top: 70px;
	margin-bottom: 15px;
}

.media-item {
	cursor: pointer;
	text-decoration: underline;
	color: #5c5c5c;
}
